*.swp
*~
*.elc
.git
anaconda-mode
el-get
*/el-get
elpa
*/elpa
auto-save-list
ac-comphist.dat
helm-adaptive-history
bookmarks
irony
tramp
.emacs-places
.emacs-custom.el
.mc-lists.el
.recentf
.python-environments
projectile*
local/clang/stdafx.pch
.DS_Store
